* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: visible;  
    background-color: rgb(243, 246, 247);
    scroll-behavior: smooth;
}

    /* scroll bar style */
    /* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
     /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(107, 106, 106); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51); 
}

.page-container{
    position: relative;
    min-height: 100%;
}

.content-wrap{
    /* footer height */
    padding-bottom: 2.5rem;
}

.big-container{
    display:flex;
    padding: 1rem;
    margin: 0;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
}

.big-container h1{
    padding: 8px 16px;
    background-color: rgb(0, 11, 75);
    color: white;
    border-radius: 10px;
}

.container{
    border: 1px solid black; 
    background-color: white;
    padding: 1rem;
    margin-top: 2%;
    height:fit-content;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

form{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

div .user{
    text-align: center;
    border:1px dashed rgb(83, 83, 83);  
    padding:0.03em 0.25em;
    font-size: 20px;
}

input[type=text]{
    width: 200px;
    height: 40px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type=submit]{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15px;
    height: 40px;
    background-color: rgb(255, 213, 32);
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 15px;
    font:bolder;
    border-radius: 10px;
}

input[type=submit]:hover{
    background-color: black;
    color: white;
}

.big-container .back{
    margin-top: 50px;
    background-color: rgb(255, 213, 32);
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 15px;
    font:bolder;
    border-radius: 10px;
    text-decoration: none;
}

#goBack{
    float:right;
}

#goHome{
    padding: 10px 60px;
}

.big-container .back:hover{
    background-color: black;
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: 80%;
}

.copyright-text{
    color: black;
    padding-top: 10px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a, a:hover, a:link, a:visited{
    text-decoration:underline;
    color:black;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 98%;
    }

    h3{
        font-size: 90%;
    }

    div .user{
        font-size: 90%;
    }
}

@media screen and (max-width: 360px){
    input[type=submit]{
        margin-left: 0;
    }
}